---
import DefaultLayout from "../layouts/DefaultLayout.astro";

interface Projects {
  name: string;
  url: string;
  stack: string;
  timeframe: string;
}

const projects: Projects[] = [
  {
    name: "Iris",
    url: "https://github.com/alexwkleung/Iris",
    stack: "TypeScript, Rust, Electron",
    timeframe: "2022 - 2024",
  },
  {
    name: "Block URL",
    url: "https://github.com/alexwkleung/block-url-extension",
    stack: "React, TypeScript",
    timeframe: "2025",
  },
  {
    name: "TermStylist",
    url: "https://github.com/alexwkleung/TermStylist",
    stack: "C++",
    timeframe: "2022",
  },
];

const openSource = [
  {
    name: "Microsoft Visual Studio Code Documentation",
    url: "https://github.com/microsoft/vscode-docs/pulls?q=is%3Apr+author%3Aalexwkleung+is%3Aclosed",
    stack: "Markdown, Git",
    timeframe: "2023 - 2024",
  },
];
---

<DefaultLayout>
  <div slot="page-heading">PROJECTS</div>
  <div slot="page-content">
    <p class="projects-paragraph">A list of personal projects.</p>
    {
      projects.map((project) => (
        <p class="projects-paragraph">
          <a href={project.url} class="project-url" target="_blank">
            <span class="project-name">{project.name}</span>
          </a>
          <span class="project-stack">{project.stack.toUpperCase()}</span>
          <span class="project-timeframe">{project.timeframe}</span>
        </p>
      ))
    }
    <div class="open-source-heading text">OPEN SOURCE</div>
    <p class="projects-paragraph">A list of open-source contributions.</p>
    {
      openSource.map((org) => (
        <p class="projects-paragraph">
          <a href={org.url} class="project-url" target="_blank">
            <span class="project-name">{org.name}</span>
          </a>
          <span class="project-stack">{org.stack.toUpperCase()}</span>
          <span class="project-timeframe">{org.timeframe}</span>
        </p>
      ))
    }
  </div>
</DefaultLayout>
