---
import Navbar from "../components/Navbar.astro"

interface IProject {
    name: string,
    info: string,
    link: string,
    language: string[]
}

const project: IProject[] = [
    {
        name: "Iris",
        info: "A comfortable note-taking app powered by Markdown.",
        link: "https://github.com/alexwkleung/Iris",
        language: ["TypeScript", "Rust"]
    },
    {
        name: "TermStylist",
        info: "A header-only terminal colours library.",
        link: "https://github.com/alexwkleung/TermStylist",
        language: ["C++"]
    }
]

const projectsDocTitle: string = "Alex Leung | Projects";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{projectsDocTitle}</title>
</head>
<Navbar></Navbar>
<div id="projects-main-container">
    <div class="project-intro">
        <h1 id="project-intro-heading">Projects</h1>
        <p id="project-intro-p">
            This is a list of my showcased projects. 
            <br>
            <br>
            Other projects can be found on my GitHub.
        </p>
    </div>
    {
        project.map((props) => 
            <div class="project-container">
                <div class="project-name">
                    <h1 class="project-name-heading">{props.name}</h1>
                </div>
                <div class="project-info">
                    <p class="project-info-p">{props.info}</p>
                </div>
                    {
                        props.language.map((lang) => 
                            <span class="project-language">
                                {lang}
                            </span>    
                        )
                    }
                <div class="project-link">
                    <a href={props.link} class="project-a">GitHub Repo</a>
                </div>
            </div>
        )
    }
</div>

<style>
    @font-face {
        font-family: 'Inter-Regular';
        src: url('../styles/fonts/Inter-Regular.ttf');
    }
    @font-face {
        font-family: 'Inter-Bold';
        src: url('../styles/fonts/Inter-Bold.ttf');
    }

    body {
        margin: 0;
        -webkit-font-smoothing: subpixel-antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
    }

    #projects-main-container {
        position: relative;
        width: 648px;
        margin: 0 auto;
        top: 98px;
        height: calc(100vh - 640px);
        padding-bottom: 500px;
    }

    #project-intro-heading {
        font-family: 'Inter-Bold';
        font-size: 35px;
    }

    .project-intro {
        position: relative;
        font-family: 'Inter-Regular';
        font-size: 18px;
        margin: 0 auto;
        width: 640px;
        top: 0px;
    }
    .project-container {
        position: relative;
        margin: 0 auto;
        width: 640px;
        top: 0px;
        padding-bottom: 10px;
    }
    .project-name-heading {
        font-family: 'Inter-Bold';
        font-size: 30px;
        padding-top: 10px;
    }
    .project-info-p {
        font-family: 'Inter-Regular';
        font-size: 18px;
    }
    .project-a {
        position: relative;
        font-family: 'Inter-Regular';
        text-decoration: none;
        color: #5C6BC0;
        font-size: 18px;
        top: 18px;
    }
    .project-language {
        font-family: 'Inter-Regular';
        border-radius: 5px;
        padding: 3px 3px 3px 3px;
        font-size: 16px;
        background-color: rgb(217 215 215);
        margin-right: 7px;
    }

    @media (max-width: 450px) {
        #projects-main-container {
            position: relative;
            width: 300px;
            margin: 0 auto;
            top: 98px;
            height: calc(100vh - 640px);
            padding-bottom: 600px;
        }

        .project-intro {
            position: relative;
            font-family: 'Inter-Regular';
            font-size: 18px;
            margin: 0 auto;
            width: 300px;
            top: 0px;
        }
        .project-container {
            position: relative;
            margin: 0 auto;
            width: 300px;
            top: 10px;
            padding-bottom: 10px;
        }
    }
</style>